name: esprc

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  parse-ap201:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/cargo@v1
      with:
        command: run
        args: --bin esprc -- ./schemas/APs/10303-201-aim-long.exp --check

  parse-ap203:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/cargo@v1
      with:
        command: run
        args: --bin esprc -- ./schemas/APs/10303-203-aim-long.exp --check

  generate-ap201:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - name: Generate AP201 binding
      run: |
        set -eo pipefail
        cargo run --bin esprc -- ./schemas/APs/10303-201-aim-long.exp | rustfmt > ./ruststep/src/ap201.rs
        git diff --exit-code

  generate-ap203:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - name: Generate AP203 binding
      run: |
        set -eo pipefail
        cargo run --bin esprc -- ./schemas/APs/10303-203-aim-long.exp | rustfmt > ./ruststep/src/ap203.rs
        git diff --exit-code
