name: rust

on:
  push:
    branches:
      - master
  pull_request: {}

jobs:
  test:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        rust:
          - stable
          - "1.56.0"  # MSRV (for edition 2021)
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: ${{ matrix.rust }}
        default: true
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: test
        args: --all-features

  check-format:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: "1.56.0"
        profile: minimal
        components: rustfmt
        default: true
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: -- --check

  doc:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: "1.56.0"
        profile: minimal
        default: true
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: doc
        args: --no-deps

  clippy:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v1
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: "1.56.0"
        profile: minimal
        components: clippy
        default: true
        override: true
    - uses: actions-rs/cargo@v1
      with:
        command: clippy
